body {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

form {
    display:block;
}

#sign-in {

}

#sign-up {
    display:none;
}

#login-indicator {
    
}