<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
        <h1 id="header">login</h1>
        <form>
            <div id="sign-in">
                <label>Email</label>
                <input type="text" placeholder="Email" id="attemptEmail">
                <label>Password</label>
                <input type="text" placeholder="Password" id="attemptPassword">
                <button type="button" onclick="submitLoginDetails()">Login</button>
                <button type="button" onclick="showSignUp()">Sign Up</button>
            </div>

            <div id="sign-up">
                <label>Email</label>
                <input type="text" placeholder="Email" id="newEmail">
                <label>Password</label>
                <input type="text" placeholder="Password" id="newPassword">
                <label>Confirm Password</label>
                <input type="text" placeholder="Confirm Password" id="newPasswordC">
                <button type="button" onclick="submit_new_account()">Sign Up</button>
            </div>
        </form>
        <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    </body>
</html>